# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: vlytvyne <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2018/11/22 15:58:41 by vlytvyne          #+#    #+#              #
#    Updated: 2018/11/22 16:00:10 by vlytvyne         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

test
